@font-face {
    font-family: 'Merri';
    src: url('../fonts/font_merri.ttf');
}

:root{
    --cor-principal: #35BDC3;
    --footer-color:#2D3239;
    --cor-hover:#ffff;
    --height--button: 4em;
    --width--button:13em;
    --radius--button:50px;
}