@font-face {
    font-family: 'exo2';
    src: url(../Exo_2/Exo2-VariableFont_wght.ttf);
}

*{
    font-family: 'exo2';
    margin: 0;
    padding: 0;
}

header{
    height: 5em;
    display: flex;

    justify-content: space-around;
    width: 100%;
    align-items: center;
    background-color: var(--cor-principal);
   &    ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60vh;
        height: 5em;


        & li{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
            align-items: center;
            transition: background-color 0.2s ease-in;

            & a{
                color: white;
                text-decoration: none;
            }
        }
        & li:hover{
            background-color: var(--marca-one);
            cursor: pointer;
        }   
    }
    

    & button{
        height: 3.5em;
        width: 13em;
        border-radius: 5em;
        border: 0;
        transition: background-color 0.2s ease-in, color 0.2s ease-in;
        font-weight: bold;
    }
    & button:hover{
        background-color: var(--marca-one);
        color: white;
    }
}   
