@font-face {
    font-family: 'Karla';
    src: url('Karla-VariableFont_wght.ttf');
}

*{
    padding: 0;
    margin: 0;
    font-family: "Karla","Helvetica Neue",sans-serif;
}

header h1{
    text-align: center;
}
header nav{
    border-top: 1px solid rgba(0,0,0,0.1) ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 122vh;
    position: relative;
    top: 2vh;
    height: 8vh;
    letter-spacing: 0.1em;
    margin: auto;
    align-content: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

header nav ul a{
    text-decoration: none;
    color: black;
}
header input[type='text']{
    height: 5.5vh;
    font-size: 1em;
    background-image: url('images/search.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 2vh;
    padding: 5px;
    width: 19vh;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
main{
    width: 80vh;
    height: 120vh;
    position: relative;
    top: 2em;
}
main.principal_rec{
    width: 29.5em;
}
h2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    font-weight: normal;
}
#ultimas_rec{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
}
#ultimas_rec img{
    width: 20em;
}
#ultimas_rec p:hover{
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#foods-list{
    padding-top: 3em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
article{
    width: 9em;
    height: 18em;
}
article h2{
    font-size: 1em;
    text-align: left;
}
article h2:hover{
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#foods-list img{
    width: 9em;
    height: 12em;
    display: block;
}
#divisao{
    display:flex;
    justify-content: flex-start;
    position: relative;
    top: 2em;
    width: 122vh;
    padding-left: 2em;
    box-sizing: border-box;
    margin: auto;
    
}
aside{
    
    width: 20em;
}
#creator{
    width: 10em;
    height: 8em;
    border-radius: 50%;
    object-fit: cover;
}
#aprese{
    height: 15em;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#apps ul{
    list-style-type: none;
    display: flex;
    height: 7em;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#apps img{
    width: 2em;
    height: 1.8em;
}
#apps li{
    height: 4vh;
    width: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#apps ul li:hover{

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
#caixa-mail{
    height: 20em;
    width: 15em;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    top: 2em;
    border-radius: 12px;
    padding: 2.5em;

    background-color: rgba(0, 0, 0, 0.1);
}
#caixa-mail h2{
    font-weight: bold;
    font-size: 1em;
    display: block;
    letter-spacing: 0.2em;
}
#caixa-mail span{
    text-align: center;
    position: relative;
    top: 4em;
}
#caixa-mail input[type='email']{
    display: block;
    height: 2.5em;
    border-radius: 5px;
    width: 15em;
    padding-left: 10px;
    box-sizing: border-box;
    margin: auto;
    font-size: 1em;

}
#caixa-mail button{
    background-color: rgb(59, 59, 59);
    border: 0;
    height: 2em;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    border-radius: 3px;

    color: white;
}

footer{
    position: relative;
    top: 20em;
    background-color: rgba(0, 0, 0, 0.1);
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    color: black;
}