@keyframes move{
    0%{
        transform: scale(1.5);
    }
    10%{
        transform: scale(1.45);
    }
    20%{
        transform: scale(1.4);
    }
    30%{
        transform: scale(1.35);
    }
    40%{
        transform: scale(1.3);
    }
    50%{
        transform: scale(1.25);
    }
    60%{
        transform: scale(1.2);
    }
    70%{
        transform: scale(1.15);
    }
    80%{
        transform: scale(1.1);
    }
    90%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes ia{
    33%{
        background-image: url(pedra2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
    }
    66%{
        background-image: url(papel2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
    }
    100%{
        background-image: url(tesoura2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
    }

}
@font-face {
    font-family: 'Pixelry Sans';
    src: url('PixelifySans-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    background:linear-gradient(to right, black,rgb(41, 41, 41),rgb(61, 61, 61));
    font-family: 'Pixelry Sans';
}
h1{
    color: white;
    text-align: center;
}
ul{
    position: absolute;
    top: 35em;
    left: 51%;
    transform: translate(-50%,50%);
    justify-content: space-around;
}
li{
    list-style-type: none;
    display: inline-block;
    padding-right: 7.5em;
}

li img{
    width: 155px;
    height: 150px;
}
li img:hover{
    animation: move 0.5s normal;
}
hr{
    width: 40em;
    height: 0.9em;
    background-color: white;
    color: white;
    position: absolute;
    left: 50%;
    top: 25em;
    transform: translate(-50%,0);
}
#escolha-ia{
    animation: ia 0.5s infinite;
    background-image: url(pedra.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 8em;
    transform: translate(-50%,0);
    width: 155px;
}
h2{
   color: white;
   position: absolute;
   left: 0em;
   top: 5em;
   width: 10em;
}

.papel{
    background-image: url(papel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 8em;
    transform: translate(-50%,0);
    width: 155px;
    animation: none;
}
.pedra{
    background-image: url(pedra.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 8em;
    transform: translate(-50%,0);
    width: 155px;
    animation: none;
}
.tesoura{
    background-image: url(tesoura.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 8em;
    transform: translate(-50%,0);
    width: 155px;
    animation: none;
}
#papelbot{
    animation: none;
    background-image: url(papel2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 8em;
    transform: translate(-50%,0);
    width: 155px;
}
#pedrabot{
    animation: none;
    background-image: url(pedra2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 8em;
    transform: translate(-50%,0);
    width: 155px;

}
#tesourabot{
    animation: none;
    background-image: url(tesoura2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 8em;
    transform: translate(-50%,0);
    width: 155px;
}
.hrdraw{
    background-color: rgb(94, 94, 224);
}
.hrwin{
    background-color: rgb(87, 165, 87);
}
.hrlost{
    background-color: rgb(160, 65, 65);
}
.pdraw{
    color: blue;
    position: absolute;
    top: 18em;
    left: 2.5em;
}
.pwin{
    color: green;
    position: absolute;
    top: 18em;
    left: 2.5em;
}
.plost{
    color: red;
    position: absolute;
    top: 18em;
    left: 2.5em;
}
#jogardnv{
   visibility: hidden;
}

#again{
    color: white;
    font-size: 2.4em;
    position: absolute;
    top: 14em;
    left:21.5em;
    text-decoration: none;    
    background-color: transparent;
    visibility: visible;
}
#again:hover{
    transform: scale(1.1);
}